.menu {
  position: relative;

  &__inner {
    display: flex;
    position: relative;
    z-index: 2;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;
      @media(max-width: 767px) {
        display: none;
      }
    }
    &::before {
      left: -45px;
      background-image: url('../images/dist/menu-bg.svg');
      width: 265px;
      height: 400px;
      bottom: -100px;
    }
    &::after {
      background-image: url('../images/dist/menu-bg2.svg');
      right: 10%;
      width: 300px;
      height: 475px;
      bottom: -111px;
    }
  }

  &-bg {
    position: absolute;
    height: 70px;
    background-color: $accent;
    width: 100%;
  }

  .sidebar {
    background-color: $white;
    border-radius: 20px;
    flex: 0 0 296px;
    z-index: 100;
    @media(max-width: 985px) {
      width: 230px;
      position: absolute;
      left: 125px;
    }

    &__box {
      display: flex;
      background-color: $red;
      align-items: center;
      padding-left: 22px;
      height: 70px;
      color: $white;
      @media(max-width: 985px) {
        padding-left: 0;
        justify-content: center;
        cursor: pointer;
      }

      .box__hamburger {
        display: block;
        margin-right: 13px;

        span {
          width: 13px;
          height: 2px;
          background-color: $white;
          display: block;
          margin-bottom: 3px;
          border-radius: 5px;
        }
        @media(max-width: 985px) {
          display: none;
        }
      }

      .box__title {
	      margin-left: 13px;
	      font-size: 18px;
	      font-family: $avenirBold;
	      letter-spacing: 0.02em;
	    }
    }

    &__list {
      padding: 20px;
      height: 495px;
      @media(max-width: 985px) {
        position: absolute;
        display: none;
        background-color: $white;
        width: 335px;
        z-index: 100;
        right: 0;
        padding: 20px 20px 30px 20px;
        height: 417px;
        border-radius: 0 0 20px 20px;
        &.active {
          display: block;
        }
      }

      &-item {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
          .sidebar__list-link {
            color: $hover;
            opacity: 1;
          }
          .arrow {
            fill: $hover;
            transition: all .3s ease;
            opacity: 1;
          }
          .icon {
            fill: $hover;
          }
        }

        .arrow {
          opacity: 0.7;
          width: 8px;
          height: 15px;
        }
      }

      &-link {
        display: flex;
        align-items: center;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $textcolor;
        position: relative;
        opacity: .7;
        transition: all .3s;
        .icon {
          display: block;
          width: 19px;
          height: 19px;
          fill: $textcolor;
          transition: all .3s;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }

  &__box {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
  }

  &__list {
    display: flex;

    @media(max-width: 985px) {
      display: none;

      &.active {
        position: absolute;
        background-color: $white;
        padding: 20px 0;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 301px;
        height: 477px;
        z-index: 100;
        border-radius: 0 0 20px 20px;
        z-index: 1000;
      }
    }

    .header__lang {
      display: none;

      @media(max-width: 985px) {
        display: flex;
        padding-left: 21px;
      }
    }

    .header__phone {
      display: none;

      @media(max-width: 985px) {
        display: block;
        margin-top: 54px;
        padding-left: 21px;
      }

      .phone__text {
        display: none;

        @media(max-width: 985px) {
          display: inline-block;
        }
      }
    }

    &-item {
    	color: $white;
    	border-bottom: 1px solid transparent;
    	transition: all .3s ease;
    	&:hover {
        border-bottom: 1px solid $white;
      }
      @media(max-width: 985px) {
        padding: 17px 22px 17px 21px;
        border-bottom: 1px solid #B9B7BD;
        position: relative;
        &:hover {
	        border-bottom: 1px solid $dark;
        }

        &::after {
          content: "";
          background-image: url('../images/dist/arrov-red.svg');
          position: absolute;
          right: 22px;
          top: 50%;
          transform: translateY(-50%);
          width: 5px;
          height: 9px;
        }
      }

      &:not(:first-child) {
        margin-left: 40px;

        @media(max-width: 985px) {
          margin-left: 0;
        }
      }
    }

    &-link {
      color: $white;
      font-weight: 700;
      letter-spacing: 0.02em;

      &:hover {
        color: $white;
      }

      @media(max-width: 985px) {
        color: $dark;
        &:hover {
        	color: $dark;
        }
      }
    }
  }

  &__slider {
    height: 471px;
    margin: 23px 0 0 22px;
    z-index: 2;
    @media(max-width: 985px) {
      margin: 23px 0 0;
    }

    .slick-list,
    .slick-track {
      height: 100%;
      width: 100%;
    }

    .slick-arrow {
      width: 50px;
      height: 50px;
      background-color: $background;
      cursor: pointer;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;

      &::before {
        content: "";
      }

      svg {
        fill: $dark;
      }

      &.slick-disabled {
        background-color: $background;

        svg {
          fill: $input;
          transition: all .3s;
          &:hover {
            fill: $dark;
          }
        }
      }

      &.slick-prev {
        left: 0;
        border-left: none;
        border-radius: 0 100px 100px 0;
      }

      &.slick-next {
        right: 0;
        border-right: none;
        border-radius: 100px 0 0 100px;
      }
    }

    .slider__inner {
      background-color: $accent;
      position: relative;
      padding: 0 50px 0 90px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      @media(max-width: 1200px) {
        padding: 0 30px 0 60px;
      }

      @media(max-width: 1070px) {
        padding: 0 57px 0 75px;
      }

      @media(max-width: 767px) {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 15px;
      }

      &::before {
        content: "";
        background-image: url('../images/dist/slider-bg.png');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 471px;
      }
    }

    .item__description {
      position: relative;
      z-index: 1;
      font-size: 42px;
      line-height: 1.14;
      color: $white;
      font-family: $avenirBold;
      width: 320px;
      margin-right: 20px;

      @media(max-width: 1100px) {
        font-size: 30px;
        width: 230px;
      }

      @media(max-width: 767px) {
        margin-right: 0;
        text-align: center;
      }

      @media(max-width: 500px) {
        font-size: 19px;
        margin-top: 24px;
        width: auto;
      }
    }

    .description__btn {
      width: 236px;

      @media(max-width: 1200px) {
        padding: 13px 20px;
      }
    }

    .description__text {
      @media(max-width: 650px) {
        margin-bottom: 20px;
      }
    }

    .description__img {
      display: inline-block;
      margin-left: 13px;
    }

    .item__img {
      flex: 1;

      @media(max-width: 985px) {
        flex: 0.8
      }

      @media(max-width: 767px) {
        flex: 0;

        img {
          width: 70%;
          margin: 0 auto;
        }
      }

      @media(max-width: 500px) {
        img {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }

  .hamburger {
    display: none;
    align-items: center;
    flex-direction: row-reverse;
    gap: 13px;
    color: $white;
    cursor: pointer;

    @media(max-width: 985px) {
      display: flex;
      padding: 22px 43px 22px 12px;
    }

    span {
      width: 13px;
      height: 2px;
      background-color: $white;
      display: block;
      margin-bottom: 3px;
      border-radius: 5px;
    }

    &__text {
      margin: 0;
    }
  }
}


